* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Main Container */
.about {
  max-width: 1200px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 100px auto;
}

/* Headers */
.section h2 {
  font-size: 28px;
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1.5px solid #000;
  padding-bottom: 10px;
  text-align: center;
}

.section p {
  line-height: 1.6;
  margin-bottom: 20px;
  font-size: 18px;
  color: #000;
}

/* Image Section */
.img-about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.about-image {
  width: 400px;
  height: auto;
  border: 5px solid #ddd;
  border-radius: 50%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-image:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
i:hover {
  cursor: pointer;
  font-size: 20px;
}
.our-service:hover {
  color: rgb(227, 149, 5);
  cursor: pointer;
  font-size: 18px;
}
/* Responsive Design */
@media (max-width: 768px) {
  .about {
    padding: 20px;
    margin-left: 10px;
  }
  .section h2 {
    margin-top: 60px;
  }
  .service-row {
    flex-direction: column;
    text-align: center;
  }

  .service-row img {
    margin-bottom: 10px;
  }

  .about-image {
    width: 100%;
    border-radius: 8px;
  }
  .about-image:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  i:hover {
    cursor: pointer;
    font-size: 20px;
  }
  .our-service:hover {
    color: rgb(227, 149, 5);
    cursor: pointer;
    font-size: 18px;
  }
}
